.fade-in {
    animation: .3s fadein normal forwards;
}

.fade-out {
    animation: .3s fadeout normal forwards;
}

.remove{
    animation: .3s fadeout normal forwards,  0s disapear .3s normal forwards;
}

.blink{
    animation: .3s b-effect normal forwards;
}

@keyframes fadein {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes fadeout {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes b-effect {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

/* displace element upside */

@keyframes disapear{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-500px);
    }
}

/* regular underline */

.r-ul:hover::after{
    animation: .7s normal forwards disapear-ul;
}

@keyframes disapear-ul{
    0%{
        transform: scaleX(1);
    }
    100%{
        transform: scaleX(0);
    }
}

/* .basic-anim-abs{
    transition: .4s ease-out;
} */

.basic-anim{
    transition: transform .4s ease-out;
}

.hide-side{
    transform: translateX(100%);
    width: 100%;    
}

.bring-side{
    transform: translateX(100%);
}

.displaced{
    /* position: absolute; */
    transform: translateX(-100%);
    
}