.sub-menu{
    position: absolute;
    width: calc(100% + 50px);
    left: 0;
    display: block;
    padding-top: 35px;
    white-space: nowrap;
    margin-left: -25px;
    margin-right: -25px;
}

.m-sub-menu{
    position: fixed;
    opacity: 1;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    overflow-x: hidden;
    /* opacity: 0; */
    /* display: none; */
    padding-top: 47px;
    min-height: 100vh;
}

.close-align{
    right: 0;
}

.back-align{
    left: 0;
}

.title-align{
    margin-top: 15px;
}

.abs-header{
    padding: 10px 7px 10px 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.m-top-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 47px;
    will-change: transform;
    width: 100%;
    z-index: 1;
}

.m-nav-links{
    position: relative;
    width: 100%;
}

.m-nav-links ul{
    padding-top: 24px;
}

.m-nav-links li, .r-padding{
    position: relative;    
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 24px;
    width: 100%;
}

.m-title{
    font-size: 1.5rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
}

.abs-arrow{
    position: absolute;
    right: 0;
    font-size: 1.7rem;
}

.sub-menu>div{
    position: relative;
    height: 200px;
}

div[class*="sub-menu__"]{
    display: inline-block;
    vertical-align: top;
    padding: 0 25px;
}

div.img-pad{
    display: inline-block;
    vertical-align: top;
    padding-right: .62px;
    padding-left: 30px;
}

div[class$="__grid"]{
    display: flex;
    /* maybe this launches an error */
    flex-wrap: wrap;
    white-space: normal;
}

.img-sub{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
}

div.image-wrapper{
    padding-right: 4.166666%;
}

.editorial__wrapper{
    padding-top: 5px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

@media(max-width: 770px){
    .m-nav-links li{
        padding-left: 4%;
        padding-right: 4%;
    }

}