.carousel-cont{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    border: none;
}

.carousel-cont img, .carousel-cont-s img, .img-cont, .gradient{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gradient{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 10%, rgba(18, 227, 98, 0) 18%, rgb(0, 0, 0) 160%);
}

/* 


*/

.btn-carrousel{
    cursor: pointer;
    margin-top: 1.5%;
}

.high-top{
    padding-top: 4%;
    font-size: 1.3rem;
}

.carousel-title{
    text-align: center;
}

.carousel-cont-s{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 32vw;
    border: none;
}

.small-img-cont{
    position: absolute;
    height: 50%;
    width: 20%;
    padding: 0 1.5vw;
}

.inner-cont-img::after{
    display: block;
    background: #f9f9f9;
    content: "";
    width: 100%;
    padding-top: 152%;
}


