:root {
  --black: #252525;
  --gray: #666666;
  --soft-gray: #d8d8d8;
  --red: #C30F2E;
  --underline-color: linear-gradient(90deg, rgb(202, 202, 202), rgb(219, 219, 219)) left bottom/0% 1px no-repeat;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* magins */

.r-margin-b {
  margin-bottom: 24px;
}

/* background colors */

.white-bg {
  background-color: #ffffff;
}

.black-bg {
  background-color: var(--black);
}

.gray-bg {
  background-color: var(--gray);
}

.red-bg {
  background-color: var(--red);
}

/* font colors */

.black-font {
  color: var(--black);
}

.gray-font {
  color: var(--gray);
}

.white-font {
  color: #FFFFFF;
}

/* font families */

.lato {
  font-family: 'Lato', sans-serif;
}

.playfair {
  font-family: 'Playfair Display', serif;
}

/* font weight */

.bold {
  font-weight: 600;
}

.normal {
  font-weight: 400;
}

/* elements color */

.w-color {
  color: white;
}

.b-color {
  color: var(--black);
}

/* absolute formats */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.pointer {
  cursor: pointer;
}

.none{
  display: none;
}

/* position */

.rel {
  position: relative;
  width: 100%;
}

.abs {
  position: absolute;
  width: 100%;
}

/* Display */

.flex {
  display: flex;
}

/* distribute items */

.wide-dist {
  justify-content: space-between;
  align-items: center;
}

/* Text rules */

.txt {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: .1px;
  white-space: nowrap;
}

.first-txt {
  font-size: .85rem;
  position: relative;
  display: block;
  white-space: normal;
}

.r-paragraph {
  font-size: .975rem;
  line-height: 1.25rem;
  text-transform: none;
  padding-bottom: 20px;
  margin: 0;
}

.center-txt {
  text-align: center;
}

/* Usual containers width */

.col-1 {
  width: 8.333333%;
  padding: 0 2px
}

.col-2 {
  width: 16.666666%;
  padding: 0 2px
}

.col-3 {
  width: 25%;
  padding: 0 2px
}

.col-4 {
  width: 33.333333%;
  padding: 0 2px
}

.col-5 {
  width: 41.666666%;
  padding: 0 2px
}

.col-6 {
  width: 50%;
  padding: 0 2px
}

.col-7 {
  width: 58.333333%;
  padding: 0 2px
}

.col-8 {
  width: 66.666666%;
  padding: 0 2px
}

.col-9 {
  width: 75%;
  padding: 0 2px
}

.col-10 {
  width: 83.333333%;
  padding: 0 2px
}

.col-11 {
  width: 91.666666%;
  padding: 0 2px
}

.col-12 {
  width: 100%;
  padding: 0 2px
}

/* underline animations of the links */
/* this is more precise in order to override */

.ul-links.highlited::after {
  transform: scaleX(1);
}

.ul-links.hided::after {
  transform: scaleX(0);
}

.ul-links::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: #d8d8d8;
  will-change: transform;
  transition: transform .35s cubic-bezier(.25, .46, .45, .94);
  transform-origin: left;
}